<div id="single-section" class="mode-section">
    <div class="section-title">Single Region Input</div>

    <div class="primer-form">
        <div class="form-row">
            <label for="chrom">CHROM :</label>
            <input type="text" id="chrom" name="chrom" placeholder="chr1">
        </div>

        <div class="form-row">
            <label for="start">START :</label>
            <input type="number" id="start" name="start" placeholder="Number (1-based)">
        </div>

        <div class="form-row">
            <label for="end">END :</label>
            <input type="number" id="end" name="end">
        </div>
    </div>
</div>

