{# partials/mode_toggle.html #}

{% set current_design_mode = current_design_mode if current_design_mode is defined else 'single' %}
<div class="section-title">Mode</div>
<div class="banner-toggle">
  <button
    type="button"
    class="toggle-btn mode-btn {% if current_design_mode == 'single' %}active{% endif %}"
    data-mode="single"
  >
    Single
  </button>
  <button
    type="button"
    class="toggle-btn mode-btn {% if current_design_mode == 'multi' %}active{% endif %}"
    data-mode="multi"
  >
    Multi
  </button>
</div>
