{% set current_ref = reference if reference is defined and reference in ['hg38','hg19'] else 'hg38' %}

<div class="section-block">
  <div class="section-header">
    <p class="section-desc">
      기본 값은 hg38을 기준으로 primer, probe를 design 합니다.
    </p>
  </div>
</div>

<div class="ref-toggle">
  <div class="ref-btn ref-btn-ref {% if current_ref=='hg38' %}active{% endif %}" data-ref="hg38">hg38</div>
  <div class="ref-btn ref-btn-ref {% if current_ref=='hg19' %}active{% endif %}" data-ref="hg19">hg19</div>
</div>

<input type="hidden" name="reference" id="reference-input" value="{{ current_ref }}">
